<h1>All Astronauts</h1>
<h3>Average age = <%= @average_age %></h3>

<ul>
  <% @astronauts.each do |astronaut| %>
    <li>Name: <%= astronaut.name %></li>
    <li>Age: <%= astronaut.age %></li>
    <li>Job: <%= astronaut.job %></li>
    <li>Missions:
      <ul>
        <% astronaut.space_missions.alpha_order.each do |mission| %>
        <li><%= mission.title %></li>
        <% end %>
      </ul></li>
    <li>Total days in space: <%= astronaut.total_days %><br/><br/>
  <% end %>
</ul>
