<h1>All Astronauts</h1>
<h2>Average age = <%= @average_age %></h2>

<ul>
  <% @astronauts.each do |astronaut| %>
    <li><%= astronaut.name %></li>
    <li><%= astronaut.age %></li>
    <li><%= astronaut.job %></li>
    <li>Missions
      <ul>
        <% astronaut.space_missions.alpha_order.each do |mission| %>
        <li><%= mission.title %></li>
        <% end %>
      </ul></li>
    <li>Total days in space: <%= astronaut.total_days %><br/><br/>
  <% end %>
</ul>
